@using test1.Data
@using test1.Models
@using test1.Services

<div class="form-group">
    <InputDate hidden @bind-Value="Socio.FechaAlta" class="form-control" />
</div>

<h4>Informacion Personal*</h4><br />
<div class="row">
    <div class="col-md-6 form-group">
        <InputText @bind-Value="Socio.Nombre" class="form-control" placeholder="Nombre" />
    </div>
    <div class="col-md-6 form-group">
        <InputText @bind-Value="Socio.Apellido" class="form-control" placeholder="Apellido" />
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>Documento</label>
        <div class="row">
            <div class="col-md-4 form-group">
                <InputSelect @bind-Value="Socio.TipoDocumentoId" class="form-control">
                    <option value="">Tipo</option>
                    @foreach (var tipo in TipoDocumentoList)
                    {
                        <option value="@tipo.Id">@tipo.Descripcion</option>
                    }
                </InputSelect>
            </div>
            <div class="col-md-8 form-group">
                <InputText @bind-Value="Socio.NroDoc" class="form-control" placeholder="Numero"/>
            </div>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <label>Fecha de Nacimiento</label>
        <InputDate @bind-Value="Socio.FechaNac" class="form-control"
                   min="@FechaMinNacimiento.ToString("yyyy-MM-dd")"
                   max="@FechaMaxNacimiento.ToString("yyyy-MM-dd")"
                   placeholder="Fecha de Nacimiento" />
    </div>
</div>


<hr />
<h4>Información de Contacto</h4>

<div class="row">
    <div class="col-md-6 form-group">
        <InputText @bind-Value="Socio.Mail" class="form-control" placeholder="Correo@ejemplo.com" />
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4 form-group">
                <InputText @bind-Value="Socio.CodAreaTelefono" class="form-control" placeholder="Cod de Area" />
            </div>
            <div class="col-md-8 form-group">
                <InputText @bind-Value="Socio.NroTelefono" class="form-control" placeholder="Numero de Teléfono" />
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6 form-group">
        <label>Calle</label>
        <InputText @bind-Value="calle" class="form-control" placeholder="Calle" />
    </div>
    <div class="col-md-3 form-group">
        <label>Número</label>
        <InputText @bind-Value="numeroDireccion" class="form-control" placeholder="Número" />
    </div>
    <div class="col-md-3 form-group">
        <label>Localidad</label>
        <InputText @bind-Value="localidad" class="form-control" placeholder="Localidad" />
    </div>
</div>

<div class="form-group">
    <label>Provincia</label>
    <InputSelect @bind-Value="provinciaId" class="form-control">
        <option value="">Seleccione Provincia</option>
        @foreach (var provincias in ProvinciasList)
        {
            <option value="@provincias.Id">@provincias.Descripcion</option>

        }
    </InputSelect>
</div>



@code {
    [Parameter] public Socio Socio { get; set; }
    [Parameter] public List<TipoDocumento> TipoDocumentoList { get; set; }
    [Parameter] public List<Provincias> ProvinciasList { get; set; }

    private DateTime FechaMinNacimiento;
    private DateTime FechaMaxNacimiento;
    private string calle = "";
    private string numeroDireccion = "";
    private string localidad = "";
    private int provinciaId;


    protected override void OnInitialized()
    {
        Socio.FechaAlta = DateTime.Now;
        Socio.FechaNac = DateTime.Now;
        ActualizarLimitesFechaNacimiento();

    }
    private void ActualizarLimitesFechaNacimiento()
    {
        FechaMaxNacimiento = DateTime.Now.Date; // Establecer la fecha máxima como el día de hoy
        FechaMinNacimiento = FechaMaxNacimiento.AddYears(-120);
    }

    public void ActualizarDireccionSocio()
    {
        // Busca la descripción de la provincia basada en el ID seleccionado
        var provinciaSeleccionada = ProvinciasList?.FirstOrDefault(p => p.Id == provinciaId)?.Descripcion;

        Socio.Direccion = $"{calle?.Trim() ?? ""},{numeroDireccion?.Trim() ?? ""},{localidad?.Trim() ?? ""},{provinciaSeleccionada?.Trim() ?? ""}";
    }
}
